button.submit {
    float: right;
  }
  
  form#cms {
    width:100%;
    margin-top: 50px;
  }
  
  #cms textarea {
    resize: none;
  }
  
  .card-header button.delete,
  button.edit, .new {
    float: right;
    margin: 5px;
  }

  .container-fluid {
    background-color:lightgray;
    padding:10px;
    margin-bottom:25px;
  }

  .blog-container {
    margin:0 auto;
    margin-bottom:10px;
  }

  /* .card-header {
    display:flex;
    justify-content: space-between;
  } */

  #book {
    width:82%;
    /* background-color:gray; */
    margin:0 auto;
    margin-top:50px;
    display:flex;
    justify-content: space-between;
  }

.form-group {
  width: 30%;
}


  #header {
    background-image: url("../images/book2.png");
    /* background-color: #882929; */
    width:60%;
    height:100px;
    margin:0 auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
    
    margin-bottom:20px;
  }


  #cms .form-group {
    width: 100%;
  }


  
.foot {
  background-color:silver;
  color:navy;
  /* margin-top:20px; */
  margin-bottom:0;
  padding-top:10px;
  border-top:5px solid yellow;
}

footer ul {
  list-style: none;
}

ul li i.fab {
  font-size:30px;
}

#base {
  
  width:80%;
  margin:0 auto;
  display:flex;
  justify-content: space-between;
  }
   